<link rel="stylesheet" href="/static/common/base.css" type="text/css" />
<div class="hf-fixed-sider" id="J_backTop">
    <a class="small-rcode j_small-rcode" href="javascript:void(0)">
    	<div class="sub-fixed sider-ewm">
    		<p>XX</p>
    		<span class="s-arrow"></span>
    	</div>
    </a>
    <a href="<?php echo $globalData['aUrl']['sFDCalcURL']; ?>" class="side-cal" target="_blank">
    	<div class="sub-fixed sider-tips">
    		<p class="s-txt">XX</p>
			<span class="s-arrow"></span>
    	</div>
    </a>
    <a href="javascript://" class="side-tel">
    	<div class="sub-fixed sider-tips">
    		<p class="s-tel">客服：<em>XX</em>111</p>
    		<p class="s-stime">XX</p>
    		<span class="s-arrow"></span>
    	</div>
    </a>
    <a class="as-edit" target="_blank" href="<?php echo $globalData['aUrl']['sSurveyURL']; ?>"></a>
    <a class="back-top j_back-top hide" href="javascript:void(0)"></a>
</div>