#if ($menus)

    ## velocity 宏示例
    #macro( renderMenus $menus $child)
        #if( $child )
        <ul class="dropdown-menu" role="menu">
        #else
        <ul class="nav navbar-nav" role="menu">
        #end

        #foreach( $menu in $menus )
            #if( $menu.children )
            <li class="dropdown #if( $menu.active )active#end">
                <a href="$!{request.contextPath}$!{menu.href}" class="dropdown-toggle" data-toggle="dropdown" href="#">$!{menu.label} <span class="caret"></span></a>

                #renderMenus($menu.children true)
            </li>
            #else
            <li #if( $menu.active )class="active"#end>
                <a href="$!{request.contextPath}$!{menu.href}">$!{menu.label}</a>
            </li>
            #end
        #end

        </ul>
    #end

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand #if( $currentUrl == '/' )active#end" href="/">Jello Demo</a>
            #renderMenus($menus)
        </div>
    </div>
#end

<div class="top ss">
    <div class="topBox">
        <div class="topLink_1">
            <a class="logo" href="#"><img src="/images/logo.png"></a>
            <a class="selected" href="/web?command=Index">首页</a>
            <a href="/web?command=ListPro">项目</a>
            <a href="/web?command=ListNews">活动</a>
            <a href="/web?command=ListTutor">导师</a>
            <a href="/web?command=ListMade">创富集</a>
        </div>
        
        <div class="topLink_2">
            <a href="/web?command=MadeHelp">创业帮助</a>
            <b></b>
            <a href="/web?command=Apply">报名</a>
           
         
            <a href="/web?command=Login">登录</a>
            <a href="/web?command=Register">注册</a>
         
            <a href="/web?command=Release_pro" style="margin-left:80px;">发布项目</a>
        </div>
            <div class="subscribe" style=" margin-left:auto; margin-right:auto">
         <span class="tip">
             <img height="30" onclick="openTip();" src="/images/subscribe.png"> 
                 <span id="tipc" class="tip-content"> 
                     <img onclick="closeTip();" class="right" src="/images/close.png"> <br>
                     <img src="/images/sub.jpg">
                 </span> 
            </span> 
    </div>
    </div>
</div>